<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="public/fragments :: html_head">
</head>
<body>
<th:block th:replace="public/fragments :: html_toast"></th:block>
<th:block th:replace="public/fragments :: html_toast_notification"></th:block>
<header th:replace="public/fragments ::html_header(hasUnread=${hasUnread})"></header>

<main id="content" role="main" class="main pointer-event">

  <div class="content container-fluid">
    <!-- Stats -->
    <div class="row gx-2 gx-lg-3">
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card card-hover-shadow h-80">
          <div class="card-body">
            <h6 class="card-subtitle">Total Projects</h6>

            <div class="row align-items-center gx-2 mb-1">
              <div class="col-12">
                <span class="card-title h2" th:text="${totalProjects}">0</span>
              </div>
            </div>
            <!-- End Row -->

            <a href="/user/project" class="btn btn-sm btn-link mt-2 p-0">View Detail</a>

          </div>
        </div>
        <!-- End Card -->
      </div>


      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card card-hover-shadow h-80">
          <div class="card-body">
            <h6 class="card-subtitle">Total Risks</h6>

            <div class="row align-items-center gx-2 mb-1">
              <div class="col-12">
                <span class="card-title h2" th:text="${totalRisks}">0</span>
              </div>
            </div>
            <!-- End Row -->

            <a href="/user/risk" class="btn btn-sm btn-link mt-2 p-0">View Detail</a>

          </div>
        </div>
        <!-- End Card -->
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card card-hover-shadow h-80">
          <div class="card-body">
            <h6 class="card-subtitle">Total Budget</h6>

            <div class="row align-items-center gx-2 mb-1">
              <div class="col-12">
                <span class="card-title h2" th:text="${totalBudget}">0</span>
              </div>
            </div>
            <!-- End Row -->

            <span class="btn btn-sm btn-link mt-2 p-0">VND</span>

          </div>
        </div>
        <!-- End Card -->
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card card-hover-shadow h-80">
          <div class="card-body">
            <h6 class="card-subtitle">Total Cost</h6>

            <div class="row align-items-center gx-2 mb-1">
              <div class="col-12">
                <span class="card-title h2" th:text="${totalExpenses}">0</span>
              </div>
            </div>
            <!-- End Row -->

            <span class="btn btn-sm btn-link mt-2 p-0">VND</span>

          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
    <!-- End Stats -->

    <div class="row justify-content-sm-center text-center py-10">
      <div class="col-sm-7 col-md-5">
        <img class="img-fluid mb-5"  th:src="@{/public/assets/svg\illustrations\graphs.svg}" alt="Image Description" style="max-width: 21rem;">

        <h1 class="fw-bold text-primary">Welcome to Risk & Project Management</h1>
        <p class="text-muted">Monitor risks, analyze data, and ensure project success efficiently.</p>

        <div class="d-flex justify-content-center gap-3 mt-4">
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->

</main>
<script th:src="@{/public/assets/js/demo.js}"></script>
</body>
</html>